#!/bin/bash

#
# This job handles hourly restarting mirrorlist container(s) and making sure all is well.
#
# Starting with Fedora 31 this no longer uses containers.
#

##
## Docker ports for mirrors
mirrorlist1="http://localhost:18081/metalink?repo=rawhide&arch=x86_64"
mirrorlist2="http://localhost:18082/metalink?repo=rawhide&arch=x86_64"
{% if datacenter == 'phx2' %}
mirrorlist3="http://localhost:18083/metalink?repo=rawhide&arch=x86_64"
{% endif %}

TIME_DRAIN=30
TIME_RESTART=5
TIME_DISABLE=5

##

# Initial expected state is mirrorlist1 running, mirrorlist2 running and new protbuf cache

if [ ! -f /srv/mirrorlist/data/mirrorlist2/global_netblocks.txt ];
then
	cp /srv/mirrorlist/data/mirrorlist1/* /srv/mirrorlist/data/mirrorlist2/
fi

{% if datacenter == 'phx2' %}
# We have more mirror containers here
if [ ! -f /srv/mirrorlist/data/mirrorlist3/global_netblocks.txt ];
then
	cp /srv/mirrorlist/data/mirrorlist1/* /srv/mirrorlist/data/mirrorlist3/
fi
{% endif %}


## Check that protbuf cache is newer than old protobuf cache
if [ /srv/mirrorlist/data/mirrorlist1/mirrorlist_cache.proto -nt /srv/mirrorlist/data/mirrorlist2/mirrorlist_cache.proto ]; then
	# new proto
        :
else
	# No new proto
        exit 0
fi
## check mirrorlist1 running
if [ `systemctl show mirrorlist1 -p ActiveState` != 'ActiveState=active' ]; then
	# mirrorlist1 not running, there is a problem
	echo "Error: mirrorlist1 is not running as expected"
	exit 1
fi

# check mirrorlist2 (old protbuf cache and see that it's processing ok)
curl -q -H mirrors.fedoraproject.org ${mirrorlist2} -s -f --retry 50 --retry-delay 10 --retry-connrefused --retry-max-time 180 | grep "sha512" >/dev/null
if [ $? != 0 ]; then
	echo "ERROR: mirrorlist2 not processing correctly"
	exit 1
fi

{% if datacenter == 'phx2' %}
# check mirrorlist3 (old protbuf cache and see that it's processing ok)
curl -q -H mirrors.fedoraproject.org ${mirrorlist3} -s -f --retry 50 --retry-delay 10 --retry-connrefused --retry-max-time 180 | grep "sha512" >/dev/null
if [ $? != 0 ]; then
	echo "ERROR: mirrorlist3 not processing correctly"
	exit 1
fi
{% endif %}


# Drain mirrorlist1. This is safe since we assured that local2 is serving
echo "enable server mirror-lists-backend/mirrorlist-local2" | nc -U /var/run/haproxy-admin >& /dev/null
echo "set server mirror-lists-backend/mirrorlist-local1 state drain" | nc -U /var/run/haproxy-admin >& /dev/null
sleep ${TIME_DRAIN}
echo "disable server mirror-lists-backend/mirrorlist-local1" | nc -U /var/run/haproxy-admin >& /dev/null
sleep ${TIME_DISABLE}

# restart mirrorlist1 (new protbuf cache and make sure it's processing ok)
systemctl stop mirrorlist1
sleep 1
systemctl start mirrorlist1
if [[ ${?} -ne 0 ]]; then
{% if ansible_distribution_major_version|int < 31  %}
    # We have seen this to fail because podman was not able to completely
    # remove the container for some reason. First try this:
    sudo -u mirrormanager /usr/bin/podman rm mirrorlist1.service --storage --force
{% endif %}
    systemctl start mirrorlist1
    if [[ ${?} -ne 0 ]]; then
        echo "Unable to start mirrorlist1"
        exit 1
    fi
fi


sleep ${TIME_RESTART}
curl -q -H mirrors.fedoraproject.org ${mirrorlist1} -s -f --retry 50 --retry-delay 10 --retry-connrefused --retry-max-time 180 | grep "sha512" >/dev/null
if [ $? != 0 ]; then
	echo "ERROR: mirrorlist1 did not restart correctly"
	exit 1
fi

# New mirrorlist seems to be working, put it back into service
echo "enable server mirror-lists-backend/mirrorlist-local1" | nc -U /var/run/haproxy-admin >& /dev/null
sleep ${TIME_RESTART}

# copy new protbuf cache to mirrorlist2
cp -a /srv/mirrorlist/data/mirrorlist1/* /srv/mirrorlist/data/mirrorlist2/

# Drain mirrorlist2
echo "set server mirror-lists-backend/mirrorlist-local2 state drain" | nc -U /var/run/haproxy-admin >& /dev/null
sleep ${TIME_DRAIN}
echo "disable server mirror-lists-backend/mirrorlist-local2" | nc -U /var/run/haproxy-admin >& /dev/null
sleep ${TIME_DISABLE}

# restart mirrorlist2
systemctl stop mirrorlist2
sleep 1
systemctl start mirrorlist2
if [[ ${?} -ne 0 ]]; then
    echo "Unable to start mirrorlist2"
    exit 1
fi

sleep ${TIME_RESTART}
curl -q -H mirrors.fedoraproject.org ${mirrorlist2} -o/dev/null -s -f --retry 50 --retry-delay 10 --retry-connrefused --retry-max-time 180
if [ $? != 0 ]; then
	echo "ERROR: mirrorlist2 did not restart correctly"
	exit 1
fi

echo "enable server mirror-lists-backend/mirrorlist-local2" | nc -U /var/run/haproxy-admin >& /dev/null

{% if datacenter == 'phx2' %}
# copy new protbuf cache to mirrorlist3
cp -a /srv/mirrorlist/data/mirrorlist1/* /srv/mirrorlist/data/mirrorlist3/

# Drain mirrorlist3
echo "set server mirror-lists-backend/mirrorlist-local3 state drain" | nc -U /var/run/haproxy-admin >& /dev/null
sleep ${TIME_DRAIN}
echo "disable server mirror-lists-backend/mirrorlist-local3" | nc -U /var/run/haproxy-admin >& /dev/null
sleep ${TIME_DISABLE}

# restart mirrorlist3
systemctl stop mirrorlist3
sleep 1
systemctl start mirrorlist3
if [[ ${?} -ne 0 ]]; then
    echo "Unable to start mirrorlist3"
    exit 1
fi

sleep ${TIME_RESTART}
curl -q -H mirrors.fedoraproject.org ${mirrorlist3} -o/dev/null -s -f --retry 50 --retry-delay 10 --retry-connrefused --retry-max-time 180
if [ $? != 0 ]; then
	echo "ERROR: mirrorlist3 did not restart correctly"
	exit 1
fi

echo "enable server mirror-lists-backend/mirrorlist-local3" | nc -U /var/run/haproxy-admin >& /dev/null
{% endif %}
